.container {
	color: #D3D3D3;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
	width: 80%;
}

.numbers {
	font-size: 18px;
	font-weight: 300;
}